In [6]:
# importa a biblioteca Pandas para uso
# Pandas é uma biblioteca que fornece estruturas e ferramentas para análise de
# dados
import pandas as pd

def createDataframe():

  # cria um objeto map e popula o objeto através de listas de valores para
  # cada chave
  map = {
      "name" : ["Huguinho", "Student 1", "Marcelo", "Desconhecido"],
      "age" : [ 28, 18, 45, ""],
      "location" : ["Santos", "São Paulo", "Rio de Janeiro", None]
  }

  # cria o 'dataframe' pandas c/ os dados do map
  # nota: na criação do df os dados todos os valores tem que ser definidos
  # mesmo que com "" (vazio) ou None (null)
  df = pd.DataFrame( map );

  # exibe o conteúdo do df
  print( df );

createDataframe()

           name age        location
0      Huguinho  28          Santos
1     Student 1  18       São Paulo
2       Marcelo  45  Rio de Janeiro
3  Desconhecido                None

In [7]:
def iterateDataframe():

  map = {
      "name" : ["Huguinho", "Student 1", "Student 2", "Marcelo"],
      "age" : [ 28, 18, 32, 45 ],
      "location" : ["Santos", "São Paulo", "Rio de Janeiro", "Rio de Janeiro"]
  }

  df = pd.DataFrame( map );

  # não indicado para alto volume de dados ( somente para conhecimento )
  # df[<nome da coluna>][<índice>]
  for index in df.index:
    print("item", df["name"][ index ], " | index", index  );

iterateDataframe()

item Huguinho  | index 0
item Student 1  | index 1
item Student 2  | index 2
item Marcelo  | index 3

In [8]:
def addColumnDataframe():

  map = {
      "name" : ["Huguinho", "Student 1", "Student 2"],
      "age" : [ 28, 18, 32 ],
      "location" : ["Santos", "São Paulo", "Rio de Janeiro"]
  }

  df = pd.DataFrame( map );

  # adicionando uma nova coluna
  # cria lista com os dados da nova coluna
  address = ['Rua de teste 1', 'Rua de teste 2', 'Rua de teste 3'];
  # atribui a lista ao dataframe
  df['address'] = address;

  print( df )

addColumnDataframe()

        name  age        location         address
0   Huguinho   28          Santos  Rua de teste 1
1  Student 1   18       São Paulo  Rua de teste 2
2  Student 2   32  Rio de Janeiro  Rua de teste 3

In [24]:
def removeColumnDataframe():

  map = {
      "name" : ["Huguinho", "Student 1", "Student 2"],
      "age" : [ 28, 18, 32 ],
      "location" : ["Santos", "São Paulo", "Rio de Janeiro"]
  }

  df = pd.DataFrame( map );

  # cria um no dataframe, removendo a linha pelo índice e atribui ao df
  # (substitui os dados)
  df = df.drop(1)
  # cria um novo dataframe sem perder o anterior
  df2 = df
  df2 = df2.drop(0)

  print("--- df ---")
  print( df )
  print("--- df2 ---")
  print( df2 )
  print("---------------------------")

  # Removendo a coluna pelo nome
  df = df.drop( columns=["age"] );
  # cria um novo dataframe sem perder o anterior
  df2 = df
  df2 = df2.drop(columns=["location"])

  print("--- df ---")
  print( df )
  print("--- df2 ---")
  print( df2 )

removeColumnDataframe()

--- df ---
        name  age        location
0   Huguinho   28          Santos
2  Student 2   32  Rio de Janeiro
--- df2 ---
        name  age        location
2  Student 2   32  Rio de Janeiro
---------------------------
--- df ---
        name        location
0   Huguinho          Santos
2  Student 2  Rio de Janeiro
--- df2 ---
        name
0   Huguinho
2  Student 2

In [38]:
def filterDataframe():

  map = {
      "name" : ["Huguinho", "Marcelo", "Student 2", "Student 3", "Student 4"],
      "age" : [ 28, 45, 32, 17, 28 ],
      "location" : ["Santos", "Rio de Janeiro", "Uberlândia", "São Paulo", "São Paulo"]
  }

  df = pd.DataFrame( map );

  # criando o filtro
  filterAge = df["age"] >= 18;
  filterLocation = df["location"] == 'Rio de Janeiro';

  # Filtrando a lista
  filteredListAge = df[ filterAge ];
  filteredListLocation = df[ filterLocation ];
  filteredListAgeLocation = df[ filterAge ].loc[ filterLocation ]

  print("Sem filtro ----------------------------------------------------");
  print ( df );
  print("\nFiltrado por Idade --------------------------------------------");
  print( filteredListAge )
  print("\nFiltrado por Cidade -------------------------------------------");
  print( filteredListLocation )
  print("\nFiltrado por Idade e Cidade -----------------------------------");
  print( filteredListAgeLocation )

filterDataframe()

Sem filtro ----------------------------------------------------
        name  age        location
0   Huguinho   28          Santos
1    Marcelo   45  Rio de Janeiro
2  Student 2   32      Uberlândia
3  Student 3   17       São Paulo
4  Student 4   28       São Paulo

Filtrado por Idade --------------------------------------------
        name  age        location
0   Huguinho   28          Santos
1    Marcelo   45  Rio de Janeiro
2  Student 2   32      Uberlândia
4  Student 4   28       São Paulo

Filtrado por Cidade -------------------------------------------
      name  age        location
1  Marcelo   45  Rio de Janeiro

Filtrado por Idade e Cidade -----------------------------------
      name  age        location
1  Marcelo   45  Rio de Janeiro

In [47]:
def stringDataframe():

  map = {
      "name" : ["Huguinho", "Student 1", "Student 2", "Student 3", "Student 4", "Marcelo"],
      "age" : [ 28, 18, 32, 17, 14, 45 ],
      "location" : ["santos", "são Paulo", "rio de Janeiro", "são Paulo", "São Paulo", "Rio de janeiro"]
  }

  df = pd.DataFrame( map );

  # tratando strings

  print("original dataframe")
  print ( df );
  print("-------------------------------------------");

  # todas as palavras p/ maiúscula
  print()
  print("Upper case")
  # só a coluna
  print( df["location"].str.upper() )
  print("--------------------------------------------");

  print()
  print("Upper in dataframe")
  # modificando o dataframe
  df["location"] = df["location"].str.upper()
  print( df );
  print("------------------------------------------");

  # Somente a 1.ª letra da string p/ maiuscula
  print()
  print("Capitalize")
  df["location"] = df["location"].str.capitalize()
  print( df );
  print("------------------------------------------");

  # Somente a primeira de cada palavra
  print()
  print("Title")
  df["location"] = df["location"].str.title()
  print( df );
  print("------------------------------------------");

  # exibe só os nomes das colunas do dataframe c/ a quantidade de registros
  # setado
  print("\nNome das colunas c/ os 2 primeiros regisstros")
  print(df.head(2))

stringDataframe()

original dataframe
        name  age        location
0   Huguinho   28          santos
1  Student 1   18       são Paulo
2  Student 2   32  rio de Janeiro
3  Student 3   17       são Paulo
4  Student 4   14       São Paulo
5    Marcelo   45  Rio de janeiro
-------------------------------------------

Upper case
0            SANTOS
1         SÃO PAULO
2    RIO DE JANEIRO
3         SÃO PAULO
4         SÃO PAULO
5    RIO DE JANEIRO
Name: location, dtype: object
--------------------------------------------

Upper in dataframe
        name  age        location
0   Huguinho   28          SANTOS
1  Student 1   18       SÃO PAULO
2  Student 2   32  RIO DE JANEIRO
3  Student 3   17       SÃO PAULO
4  Student 4   14       SÃO PAULO
5    Marcelo   45  RIO DE JANEIRO
------------------------------------------

Capitalize
        name  age        location
0   Huguinho   28          Santos
1  Student 1   18       São paulo
2  Student 2   32  Rio de janeiro
3  Student 3   17       São paulo
4  Student 4   14       São paulo
5    Marcelo   45  Rio de janeiro
------------------------------------------

Title
        name  age        location
0   Huguinho   28          Santos
1  Student 1   18       São Paulo
2  Student 2   32  Rio De Janeiro
3  Student 3   17       São Paulo
4  Student 4   14       São Paulo
5    Marcelo   45  Rio De Janeiro
------------------------------------------

Nome das colunas c/ os 2 primeiros regisstros
        name  age   location
0   Huguinho   28     Santos
1  Student 1   18  São Paulo

In [49]:
def renameDataframe():

  map = {
      "name" : ["Huguinho", "Student 1", "Student 2", "Student 3", "Student 4"],
      "age" : [ 28, 18, 32, 17, 14 ],
      "location" : ["Santos", "São Paulo", "Rio de Janeiro", "São Paulo", "São Paulo"]
  }

  df = pd.DataFrame( map );

  # renomea o nome da coluna
  # .rename(columns={<nome antigo>: <novo nome>, n...})
  df = df.rename(columns={"age": "Idade", "location": "Localização", "name":"Nome"})

  print ( df );
  print("----------------------");

renameDataframe()

        Nome  Idade     Localização
0   Huguinho     28          Santos
1  Student 1     18       São Paulo
2  Student 2     32  Rio de Janeiro
3  Student 3     17       São Paulo
4  Student 4     14       São Paulo
----------------------

In [65]:
def jsonDataframe():

  map = {
      "name" : ["Huguinho", "Papão", "Student 2", "Student 3", "Student 4",
                "Marcelo"],
      "age" : [ 28, 18, 32, 17, 14, 45 ]
  }

  df = pd.DataFrame( map );

  # cria um dataframe c/ formato json, com diversas orientações e em UTF-8
  jsonr = df.to_json(orient="records", force_ascii=False)
  jsonc = df.to_json(orient="columns", force_ascii=False)
  jsonv = df.to_json(orient="values", force_ascii=False)
  jsont = df.to_json(orient="table", force_ascii=False)

  print ( df );
  print("\nRecords----------------------");
  print(jsonr)
  print("\nColumns----------------------");
  print(jsonc)
  print("\nValues-----------------------");
  print(jsonv)
  print("\nTable-----------------------");
  print(jsont)

jsonDataframe()

        name  age
0   Huguinho   28
1      Papão   18
2  Student 2   32
3  Student 3   17
4  Student 4   14
5    Marcelo   45

Records----------------------
[{"name":"Huguinho","age":28},{"name":"Papão","age":18},{"name":"Student 2","age":32},{"name":"Student 3","age":17},{"name":"Student 4","age":14},{"name":"Marcelo","age":45}]

Columns----------------------
{"name":{"0":"Huguinho","1":"Papão","2":"Student 2","3":"Student 3","4":"Student 4","5":"Marcelo"},"age":{"0":28,"1":18,"2":32,"3":17,"4":14,"5":45}}

Values-----------------------
[["Huguinho",28],["Papão",18],["Student 2",32],["Student 3",17],["Student 4",14],["Marcelo",45]]

Table-----------------------
{"schema":{"fields":[{"name":"index","type":"integer"},{"name":"name","type":"string"},{"name":"age","type":"integer"}],"primaryKey":["index"],"pandas_version":"0.20.0"},"data":[{"index":0,"name":"Huguinho","age":28},{"index":1,"name":"Papão","age":18},{"index":2,"name":"Student 2","age":32},{"index":3,"name":"Student 3","age":17},{"index":4,"name":"Student 4","age":14},{"index":5,"name":"Marcelo","age":45}]}

In [72]:
def readCsv():
  url = "https://raw.githubusercontent.com/huguinho-alves/python_aceleracao_everys/main/arquivo.csv"
  df = pd.read_csv( url, delimiter="," )

  print( df )

readCsv()

       name                title
0  Huguinho  Expert IT Architect
1  Student1              student
2  Student2              student